#loginContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

#loginForm{
  padding: 2rem 2rem 2rem 2rem;
  text-align: left;
  background-color: #303965;
  border-radius: 10px;
}

#loginForm h2{
  color: #FFFFFF;
  margin-bottom: 3rem;
  font-size: 2.75rem;
}

#loginForm div{
  margin-bottom: 3rem;
}

#email{
  padding: 1rem 6rem 1rem 0.5rem;
  border: none;
  border-radius: 8px;
}

#password{
  padding: 1rem 6rem 1rem 0.5rem;
  border: none;
  border-radius: 8px;
}

#formBtns{
  display: flex;
  justify-content: space-between;
}

#doneRegisterBtn{
  width: 100%;
  padding: 1rem 0rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 8px;
  color: #000000;
  cursor: pointer;
  font-family: Lato;
  font-weight: 600;
  transition: ease-in 0.15s;
}

#doneRegisterBtn:hover{
  background-color: #D9D9D9;
}

#doneRegisterBtn a{
  text-decoration: none;
  font-family: Lato;
  color: #000000;
}