.navBackground{
  width: 100%;
  background-color: #F7F7F7;
}
.navContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.navContainerMainFunctions{
  width: 100%;
  text-align: center;
}

.navItems{
  list-style: none;
}

.navItemsLi{
  padding: 1rem;
  margin: 2rem auto 2rem auto;
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}

.navItemsLi:hover{
  top: -3px;
}

.navText{
  text-decoration: none;
  font-family: 'Bentham', serif;
  font-size: 1.25rem;
  color: #303965;
}