.headerContainer{
  max-width: 1180px;
  width: 100%;
  margin: 6rem auto 5rem auto;
}

.h1Header{
  font-family: 'Abril Fatface', serif;
  font-weight: 400;
  font-size: 3rem;
}

.pHeader{
  font-family: 'Bentham', serif;
}

.leaderboardTable{
  max-width: 1180px;
  width: 100%;
  margin: auto;
}

.leaderboardHeading{
  display: flex;
  justify-content: space-between;
  padding: 0.75rem;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.firstSectionHeader{
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.rank{
  font-family: 'Bentham', serif;
  font-size: 1.25rem;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 10px;
}

.username{
  font-family: 'Bentham', serif;
  font-size: 1.25rem;
  padding: 1rem 2rem 1rem 2rem;
  margin-left: 3rem;
  border-radius: 10px;
}

.secondSectionHeader{
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.hours{
  font-family: 'Bentham', serif;
  font-size: 1.25rem;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 10px;
}

.leaderboardBody{
  margin-top: 2rem;
}

.leaderboardUser{
  display: flex;
  justify-content: space-between;
  padding: 0.75rem;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.rankNumber{
  font-family: 'Bentham', serif;
  font-size: 1.25rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: rgba(181, 142, 142, 0.1);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-left: 2rem;
}

.friendUser{
  font-family: 'Bentham', serif;
  font-size: 1.25rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin-left: 6rem;
  border-radius: 10px;
}

.friendHours{
  font-family: 'Bentham', serif;
  font-size: 1.25rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 10px;
  margin-right: 2rem;
}