.headingContainer{
  width: 100%;
  max-width: 1180px;
  text-align: center;
  margin: 4rem auto 3rem auto;
}

.h1HeadingTips{
  font-family: 'Abril Fatface', serif;
  font-size: 3rem;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.pHeadingTips{
  margin-top: 1rem;
  font-family: 'Bentham', serif;
}

.cardBackground{
  width: 100%;
  max-width: 1180px;
  margin: 2rem auto 2rem auto;
}

.cardContainer{
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 30px;
}

.card{
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}

.card:hover{
  top: -10px;
}

.h1Card{
  font-size: 2.5rem;
  padding: 2rem;
  font-family: 'Abril Fatface', serif;
}

.pCard{
  padding: 2rem;
  font-family: 'Bentham', serif;
}