
.getStartedBTN{
  padding: 1rem 3rem 1rem 3rem;
  background-color: #EE6C4D;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 0px 8px 1px rgba(0,0,0,.2);
  transition: all 0.5s ease-in-out;
}

.getStartedBTN:hover{
  background-color: #f57b5c;
  box-shadow: 0 0px 8px 4px rgba(0,0,0,.2);
}

.getStartedTextBTN{
  text-decoration: none;
  font-family: 'Bentham', serif;
  font-size: 2rem;
  color: #FFFFFF;
}