.chartContainer{
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1180px;
  margin: 4rem auto 4rem auto;
}

.chartImg{
  width: 100%;
  height: 50vh;
  border-radius: 10px;
  box-shadow: 0 0px 8px 1px rgba(0,0,0,.2);
}

.inputSection{
  display: flex;
  justify-content: left;
  flex-direction: column;
  width: 100%;
  max-width: 1180px;
  margin: auto;
}

.inputTitle{
  font-family: 'Abril Fatface', serif;
  font-weight: 400;
  font-size: 2rem;
}

.formContainer{
  margin-top: 2rem;
}

.inputContainer{
  border-radius: 10px;
  border: none;
  background-color: #D9D9D9;
  padding: 0.5rem 1rem 0.5rem 1rem; 
  font-family: 'Bentham', serif;
  font-size: 2rem;
  box-shadow: 3px 3px 1px 1px rgba(0,0,0,.2);
}

.formBTN{
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  background-color: #EE6C4D;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 1px 1px 3px 1px rgba(0,0,0,.2);
  transition: all 0.5s ease-in-out;
  font-family: 'Bentham', serif;
  font-size: 1.5rem;
  margin: auto 1rem auto 1rem;
  color: #FFFFFF;
}

.formBTN:hover{
  background-color: #f57b5c;
  box-shadow: 0 0px 8px 4px rgba(0,0,0,.2);
}